.card {
    background: #bbbdbf;
    position: relative;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    padding: 1%;
    border-radius: 50px;
    width: 13%;
    height: 25%;
    margin: 1%;
}

.card>.img-container {
    text-align: center;
    border-radius: 5%;
    height: 100%;
}

.card>.img-container>img {
    height: 100%;
    width: 100%;
    padding: 0.5%;
    border-radius: 20%;
}